@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------Navbar*/

 html, body {
    height: 100%;
    margin: 0;
}

.main-header {
    color:white;
    font-family: "roboto", sans-serif;
    text-decoration: none;
    font-size: 20px;
    margin-left: 250px;
}

.main-header:hover {
  color: white
}

#menu{
    font-size: 10px;
    list-style-type: none;
    letter-spacing: 4px;
}

.main-header, #menu{
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    font-size: 20px;
    color: #32cd32;
    font-family: "roboto", sans-serif;
}

#menu a:hover{
    border-bottom: 1px solid #32cd32;
}

/*--------------------------------------------Navbar*/
/*--------------------------------------------Homepage*/
#hero {
    margin-top: 100px;
    margin-left: 50px;
    height:400px;
    width: 400px;
    border-radius: 50%;
    filter: grayscale(100%);
}

.base {
    margin-top: 0;
    font-family: "roboto", sans-serif;
    color:white;
    padding-top: 60px;
    font-size: 50px;
}

.blocksize {
    height: 100px;
}

.aboutme {
    margin-top: 30px;
    font-family: "exo", sans-serif;
    color:white;
    padding-top: 10px;
    font-size: 18px;
    text-align: justify;
}

.menubtn{
    height: 160px;
    width: 160px;
    margin-right:15px;
    margin-top: 50px;
    margin-bottom: 40px;
    border-radius: 50%;
    border: none;
}

.menubtn a {
    font-family: "roboto", sans-serif;
    color: white;
    font-size: 20px;
    margin-top: 15px;
    text-decoration: none;
}

.menubtnskill{
    background-color: #FF1493;
}

.menubtnskill:hover {
  background-color: #FF00FF;
}

.menubtnwork:active {
    background-color: #FF00FF
}

.menubtnwork {
    background-color: #32CD32;
}

.menubtnwork:hover {
  background-color: #00FF00;
}

.menubtnwork:active {
    background-color: #00FF00;
}

.menubtncontact {
    background-color: #40CCFF;
}

.menubtncontact:hover {
  background-color: #00BFFF;
}

.menubtnwork:active {
    background-color: #00BFFF;
}

.three-reasons-to-hire {
    padding-top: 50px;
    padding-bottom: 10px;
    width: 102%;
    text-align: justify;
}

.three-reasons-to-hire p {
    font-size: 18px;
}

.blockskills {
    background-color: #FF1493;
    margin-bottom: 20px;  
}

.blockskills h2 {
    text-align: center;
}

.blockpractice {
    background-color: #32CD32;
    margin-bottom: 20px;
}

.blockpractice h2 {
    text-align: center;
}

.blockexperience {
    background-color: #40CCFF;
    margin-bottom: 20px;
}

.blockexperience h2 {
   text-align: center;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*--------------------------------------------Homepage*/
/*--------------------------------------------Resume page*/

.downloadcenter {
    text-align: center;
}

.downloadcv {
    width: 30%;
    font-family: "roboto", sans-serif;
	text-transform: uppercase;
	letter-spacing:1px;
    margin-top: 60px;
    margin-bottom: 40px;
    color: #f4f4f4;
    background-color: #32CD32;
}

.downloadcv a {
    text-decoration: none;
    color: #f4f4f4;
}

.languages {
    color: #f4f4f4;
    font-size: 40px;
    font-family: "exo", sans-serif;
    letter-spacing:1px;
    text-align: center;
    padding-left: 50px;
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: 950;
}

.languagefirst {
    background-color: #FF1493;
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 40px;
    margin-left: 16%;
}

.languagesecond {
    background-color: #32CD32;
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 40px;
    margin-left: 16%;
}

.languagethird {  
    background-color: #40CCFF;
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 40px;
    margin-left: 16%;
}

.myeducation, .myexperience {
    padding-left: 70px;
    margin-top: 80px;
    width: 90%;
}

.myeducation h1 h2 {
    font-family: "roboto", sans-serif;
    color:white;
    font-size: 50px;
}

.myeducation h2 {
    margin-top: 60px;
}

.myeducation p {
    margin-top: 10px;
    font-family: "exo", sans-serif;
    color:white;
    padding-top: 10px;
    font-size: 18px;
    text-align: justify;
}

.myexperience h1 h2 {
    margin-top: 10px;
    font-family: "roboto", sans-serif;
    color:white;
    padding-top: 60px;
    font-size: 50px;
}

.myexperience h2 {
    margin-top: 60px;
}

.myexperience p {
    margin-top: 10px;
    font-family: "exo", sans-serif;
    color:white;
    padding-top: 10px;
    font-size: 18px;
    text-align: justify;
}

/*--------------------------------------------Resume page*/
/*--------------------------------------------My Projects*/
.projectheader {
    font-family: "roboto", sans-serif;
    color:white;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.projecthero {
    margin-top: 60px;
    margin-bottom: 80px;
    margin-left: 100px;
    float:center;
    height:300px;
    width: 500px;
}

.projectfirst{
    margin-left: 10px;
    margin-right: 10px;
    border-top-style: solid;
    border-color: white;
}

.projectsecond{
    margin-left: 10px;
    margin-right: 10px;
    border-top-style: solid;
    border-color: white;
}

.projectthird {
    margin-left: 10px;
    margin-right: 10px;
    border-top-style:solid;
    border-bottom-style: solid;
    border-color: white;
}

.projectinfo {
    margin-top: 60px;
}

.projecth {
    font-family: "roboto", sans-serif;
    color: white;
    text-align: center;
    display: inline;
    margin-top: 60px;
}

.myproject {
    margin-top: 10px;
    font-family: "exo", sans-serif;
    color:white;
    padding-top: 10px;
    font-size: 18px;
}

.project-text {
    text-align: justify;
}

/*--------------------------------------------My Projects*/
/*--------------------------------------------Contact page*/
.contactpage {
	width:100%;
	font-family: "roboto", sans-serif;
}

.contactheader {
	float: center;
	font-family: "roboto", sans-serif;
	text-transform: uppercase;
    letter-spacing:1px;
    margin-top: 40px;
}

.contactp {
	float: center;
	font-size:18px;
    line-height:1.6em;
    margin-top: 30px;
}
    
.contactpage{
	color:#f4f4f4;
}

textarea.form-control{
    height:100px;
}

.contactfloat {
    margin-left: 50%;
    margin-top: 20px;
	font-family: "roboto", sans-serif;
	text-transform: uppercase;
	letter-spacing:1px;
}

.submitbtn {
    margin-top: 20px;
    margin-bottom: 40px;
    color: #f4f4f4;
    background-color: #32CD32;
}

/*--------------------------------------------Contact page*/
/*--------------------------------------------Footer*/

.email {
    float:left;
}

.phone{
    float: none;
}

footer a {
    float:right;
}

.emailadress {
    float: left;
}

/*--------------------------------------------Footer*/

/** Large devices only **/
@media (min-width: 1200px) {

}

/** Medium devices only **/
@media (min-width: 992px) and (max-width: 1199px) {

/*--------------------------------------------Navbar*/
#menu {
    text-align: center;
}
/*--------------------------------------------Navbar*/
/*--------------------------------------------Homepage*/
#hero {
    margin-top: 130px;
    height: 350px;
    width: 350px;
}

.menubtn{
    height: 130px;
    width: 130px;
    margin-right:15px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.menubtn a {
    font-size: 17px;
}
/*--------------------------------------------Homepage*/
/*--------------------------------------------Resume page*/


/*--------------------------------------------Resume page*/
/*--------------------------------------------My Projects*/
.projecthero {
    margin-top: 80px;
    margin-left: 60px;
    float:center;
    height:250px;
    width: 350px;
}

.projecfirst h1 {
    margin-top: 350px;
}
/*--------------------------------------------My Projects*/
}

/** Small devices only **/
@media (min-width: 768px) and (max-width: 991px) {
/*--------------------------------------------Navbar*/

#menu{
    font-size: 10px;
    list-style-type: none;
    letter-spacing: 4px;
}

#logo, #menu{
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    font-size: 20px;
    color: #32cd32;
    font-family: "roboto", sans-serif;
}

#menu a:hover{
    border-bottom: 1px solid #32cd32;
}
}
/*--------------------------------------------Navbar*/
/*--------------------------------------------Homepage*/
#hero {
    margin-top: 60px;
    margin-right: 50px;
    height: 350px;
    width: 350px;
}

.menubtn{
    height: 130px;
    width: 130px;
    margin-right:15px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.menubtn a {
    font-size: 17px;
}
/*--------------------------------------------Homepage*/
base {
    margin-top: 100px;
    font-family: "roboto", sans-serif;
    color:white;
    padding-top: 60px;
    font-size: 50px;
}

.aboutme {
    margin-top: 30px;
    font-family: "exo", sans-serif;
    color:white;
    padding-top: 10px;
    font-size: 18px;
}

/** Extra small devices only **/
@media (max-width: 767px) {
/*--------------------------------------------Navbar*/
#menu li {
    float: center;
}

#menu a {
    text-decoration: none;
    font-size: 20px;
    color: #32cd32;
    font-family: "roboto", sans-serif;
}

#menu a:hover{
    border-bottom: 1px solid #32cd32;
}

.navbar-collapse {
   padding-left: 25px;
   padding-top: 0px; 
   margin-top: 17px;
   margin-bottom: 20px;
   background-color: white;
}
}
/*--------------------------------------------Navbar*/
/*--------------------------------------------Homepage*/
#hero {
    margin-top: 40px;
    height: 250px;
    width: 250px;
}

.menubtn{
    height: 90px;
    width: 90px;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.menubtn a {
    font-size: 15px;
}
/*--------------------------------------------Homepage*/
base {
    margin-top: 100px;
    font-family: "roboto", sans-serif;
    color:white;
    padding-top: 60px;
    font-size: 25px;
}

.aboutme {
    margin-top: 30px;
    font-family: "exo", sans-serif;
    color:white;
    padding-top: 10px;
    font-size: 16px;
}
/*--------------------------------------------Homepage*/
/*--------------------------------------------Resume page*/
.languages {
    font-size: 30px;
}

.myexperience, .myeducation h1 {
    font-size: 30px;
}

.languagefirst {
    font-size: 16px;
    margin-left: 120px;
}

.languagesecond {
    font-size: 16px;
    margin-left: 120px;
}

.languagethird {  
    font-size: 16px;
    margin-left: 120px;
}
/*--------------------------------------------Resume page*/
/*--------------------------------------------My Projects*/
.projectheader {
    font-family: "roboto", sans-serif;
    color:white;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.projecthero {
    margin-top: 60px;
    height:300px;
    width: 500px;
}

.projectfirst{
    margin-left: 10px;
    margin-right: 10px;
    border-top-style: solid;
    border-color: white;
}

.projectsecond{
    margin-left: 10px;
    margin-right: 10px;
    border-top-style: solid;
    border-color: white;
}

.projectthird {
    margin-left: 10px;
    margin-right: 10px;
    border-top-style:solid;
    border-bottom-style: solid;
    border-color: white;
}

.projectinfo {
    margin-top: 60px;
}

.projecth {
    font-family: "roboto", sans-serif;
    color: white;
    text-align: center;
    display: inline;
    margin-top: 60px;
}

.myproject {
    margin-top: 10px;
    font-family: "exo", sans-serif;
    color:white;
    padding-top: 10px;
    font-size: 18px;
}

.project-text {
    text-align: justify;
}

/*--------------------------------------------My Projects*/


