@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------Navbar*/
 html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "exo", sans-serif;
}

.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 10%;
}

.main-header {
    color:white;
    font-family: "roboto", sans-serif;
    text-decoration: none;
    font-size: 20px;
}

.main-header:hover {
  color: white;
  text-decoration: none;
}

#navbarNav{
    font-size: 10px;
    list-style-type: none;
    letter-spacing: 4px;
}

.main-header, #navbarNav {
    line-height: 75px;
}

#navbarNav a {
    text-decoration: none;
    font-size: 20px;
    color: #32cd32;
    font-family: "roboto", sans-serif;
    float: right;
}

.active a:hover{
    border-bottom: 1px solid #32cd32;
}

/*--------------------------------------------Navbar*/
/*--------------------------------------------Homepage*/
.hero img {
    margin-top: 100px;
    margin-left: 50px;
    height:400px;
    width: 400px;
    border-radius: 50%;
    filter: grayscale(100%);
}

.base {
    margin-top: 0;
    font-family: "roboto", sans-serif;
    color:white;
    padding-top: 60px;
    font-size: 50px;
}

.blocksize {
    height: 150px;
}

.aboutme {
    margin-top: 30px;
    font-family: "exo", sans-serif;
    color:white;
    padding-top: 10px;
    font-size: 18px;
    text-align: justify;
}

.menu p {
    font-family: "roboto", sans-serif;
    color: white;
    font-size: 20px;
    margin-top: 70px;
    text-align: center;
    text-decoration: none;
}

.menuskill {
    background-color: #FF1493;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 80px;
    margin-left: 10px;
}

.menuskill:hover {
  background-color: #FF00FF;
  text-decoration: none;
}

.menuwork {
    background-color: #32CD32;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 80px;
    margin-left: 10px;
}

.menuwork:hover {
  background-color: #00FF00;
  text-decoration: none;
}

.menucontact {
    background-color: #40CCFF;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 80px;
    margin-left: 10px;
}

.menucontact:hover {
  background-color: #00BFFF;
  text-decoration: none;
}

.three-reasons-to-hire {
    padding-top: 50px;
    padding-bottom: 10px;
    width: 102%;
    text-align: justify;
}

.three-reasons-to-hire p {
    font-size: 18px;
}

.blockskills {
    background-color: #FF1493;
    margin-bottom: 20px;  
}

.blockskills h2 {
    text-align: center;
}

.blockpractice {
    background-color: #32CD32;
    margin-bottom: 20px;
}

.blockpractice h2 {
    text-align: center;
}

.blockexperience {
    background-color: #40CCFF;
    margin-bottom: 20px;
}

.blockexperience h2 {
   text-align: center;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*--------------------------------------------Homepage*/
/*--------------------------------------------Resume page*/
.downloadcv {
    width: 30%;
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: 35%;
    background-color: #32CD32;
    border-radius: 5px;
    
}

.downloadcv a {
    text-decoration: none;
}

.downloadcv p {
   color: #f4f4f4;
   font-family: "roboto", sans-serif;
   text-transform: uppercase;
   letter-spacing:1px; 
   margin-left: 130px;
   margin-top: 15px;
}

.languages h1 {
    color: #f4f4f4;
    font-size: 40px;
    font-family: "roboto", sans-serif;
    letter-spacing:1px;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 400px;
}

.languagefirst {
    background-color: #FF1493;
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 40px;
    margin-left: 22%;
}

.languagesecond {
    background-color: #32CD32;
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 40px;
    margin-left: 22%;
}

.languagethird {  
    background-color: #40CCFF;
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 40px;
    margin-left: 22%;
    font-family: "exo", sans-serif;
}

.myeducation, .myexperience {
    margin-top: 80px;
    margin-left: 80px;
    width: 80%;
}

.myeducation h1 h2 {
    font-family: "roboto", sans-serif;
    color:white;
    font-size: 40px;
}

.myeducation h2 {
    margin-top: 60px;
}

.myeducation p {
    margin-top: 10px;
    font-family: "exo", sans-serif;
    color:white;
    padding-top: 10px;
    font-size: 18px;
    text-align: justify;
}

.myexperience h1 h2 {
    margin-top: 10px;
    font-family: "roboto", sans-serif;
    color:white;
    padding-top: 60px;
    font-size: 50px;
}

.myexperience h2 {
    margin-top: 60px;
}

.myexperience p {
    margin-top: 10px;
    font-family: "exo", sans-serif;
    color:white;
    padding-top: 10px;
    font-size: 18px;
    text-align: justify;
}

/*--------------------------------------------Resume page*/
/*--------------------------------------------My Projects*/
.projectheader {
    font-family: "roboto", sans-serif;
    color:white;
    margin-top: 160px;
    padding-bottom: 40px;
    text-align: center;
}

.projecthero {
    margin-top: 60px;
    margin-bottom: 80px;
    margin-left: 50px;
    height:300px;
    width: 500px;
}

.projectfirst{
    margin-left: 10px;
    margin-right: 10px;
    border-top-style: solid;
    border-color: white;
}

.projectsecond{
    margin-left: 10px;
    margin-right: 10px;
    border-top-style: solid;
    border-color: white;
}

.projectthird {
    margin-left: 10px;
    margin-right: 10px;
    border-top-style:solid;
    border-bottom-style: solid;
    border-color: white;
}

.projectinfo {
    margin-top: 60px;
    margin-right: 50px;
}

.projecth {
    font-family: "roboto", sans-serif;
    color: white;
    text-align: center;
    display: inline;
    margin-top: 60px;
}

.myproject {
    margin-top: 10px;
    font-family: "exo", sans-serif;
    color:white;
    padding-top: 10px;
    font-size: 18px;
}

.project-text {
    text-align: justify;
}

.resumebtn {
    background-color: #FF1493;
    display: inline-block;
    width: 120px;
    height: 40px;
    border-radius: 16px;
}

.projectbtn {
    background-color: #32CD32;
    display: inline-block;
    width: 120px;
    height:40px;
    border-radius: 16px;
}

.cafebtn {
    background-color: #40CCFF;
    display: inline-block;
    width: 120px;
    height: 40px;
    border-radius: 16px;
}

.project p {
    font-family: "exo", sans-serif;
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    margin-top: 7px;
}
/*--------------------------------------------My Projects*/
/*--------------------------------------------Contact page*/
.contactpage {
	width:100%;
	font-family: "roboto", sans-serif;
}

.contactheader {
	font-family: "roboto", sans-serif;
	text-transform: uppercase;
    letter-spacing:1px;
    margin-top: 40px;
}

.contact p {
	font-size:18px;
    line-height:1.6em;
    margin-top: 30px;
}
    
.contactpage{
	color:#f4f4f4;
}

textarea.form-control{
    height:100px;
}

.contactfloat {
    margin-left: 50%;
    margin-top: 20px;
	font-family: "roboto", sans-serif;
	text-transform: uppercase;
	letter-spacing:1px;
}

.submitbtn {
    margin-top: 20px;
    margin-bottom: 40px;
    color: #f4f4f4;
    background-color: #32CD32;
}
/*--------------------------------------------Contact page*/
/*--------------------------------------------Footer*/
.email {
    float:left;
}

.phone{
    float: none;
}

footer a {
    float:right;
}

.emailadress {
    float: left;
}
/*--------------------------------------------Footer*/

/** Large devices only **/
@media (min-width: 1200px) {
    
.smallscreen {
    margin-top: 10%;
}
.active {
    border-bottom: 1px solid #32cd32;
}
}

/** Medium devices only **/
@media (min-width: 992px) and (max-width: 1199px) {
/*--------------------------------------------Navbar*/
.active {
    border-bottom: 1px solid #32cd32;
}
/*--------------------------------------------Navbar*/
/*--------------------------------------------Homepage*/
.hero img {
    margin-top: 160px;
    height: 350px;
    width: 350px;
}

.base {
    margin-top: 100px;
}

.menu p {
    font-family: "roboto", sans-serif;
    color: white;
    font-size: 18px;
    margin-top: 50px;
    text-align: center;
    text-decoration: none;
}

.menuskill {
    background-color: #FF1493;
    height: 135px;
    width: 135px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 90px;
    margin-left: 5px;
}

.menuwork {
    background-color: #32CD32;
    height: 135px;
    width: 135px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 90px;
    margin-left: 5px;
}

.menucontact {
    background-color: #40CCFF;
    height: 135px;
    width: 135px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 90px;
    margin-left: 5px;
}
/*--------------------------------------------Home page*/
/*--------------------------------------------Resume page*/
.downloadcv {
    width: 30%;
    margin-top: 60px;
    margin-bottom: 40px;
    background-color: #32CD32;
    border-radius: 5px;
    
}

.downloadcv p {
   color: #f4f4f4;
   font-family: "roboto", sans-serif;
   text-transform: uppercase;
   letter-spacing:1px; 
   margin-top: 15px;
}

.downloadcv p {
   color: #f4f4f4;
   font-family: "roboto", sans-serif;
   text-transform: uppercase;
   letter-spacing:1px; 
   margin-left: 80px;
   margin-top: 15px;
}

.languages h1 {
    color: #f4f4f4;
    font-size: 40px;
    font-family: "roboto", sans-serif;
    letter-spacing:1px;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 400px;
}

.languagefirst {
    background-color: #FF1493;
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 40px;
    margin-left: 22%;
}

.languagesecond {
    background-color: #32CD32;
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 40px;
    margin-left: 22%;
}

.languagethird {  
    background-color: #40CCFF;
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 40px;
    margin-left: 22%;
    font-family: "exo", sans-serif;
}

.myeducation, .myexperience {
    margin: 40px;
    width: 80%;
}
/*--------------------------------------------Resume page*/
/*--------------------------------------------My Projects*/
.projecthero {
    margin-top: 80px;
    margin-left: 60px;
    height:250px;
    width: 350px;
}

.projecfirst h1 {
    margin-top: 350px;
}

.languages h1 {
    margin-left: 330px;
}

.resumebtn {
    margin-bottom: 30px;
}

.projectbtn {
    margin-bottom: 30px;
}

.cafebtn {
    margin-bottom: 30px;
}
/*--------------------------------------------My Projects*/
/*--------------------------------------------Contact page*/
.downloadcv {
  margin-left: 370px;
}

.contactheader {
    margin-top: 180px;
}
/*--------------------------------------------Contact page*/
}

/** Small devices only **/
@media (min-width: 768px) and (max-width: 991px) {

.smallscreen {
    margin-top: 10%;
}
/*--------------------------------------------Navbar*/
#myLinks {
    font-size: 10px;
    list-style-type: none;
    letter-spacing: 4px;
}

#logo, #myLinks {
    line-height: 75px;
}

#myLinks li {
    float: right;
    margin-right: 30px;
}

#myLinks a {
    text-decoration: none;
    font-size: 20px;
    color: #32cd32;
    font-family: "roboto", sans-serif;
}

#myLinks a:hover{
    border-bottom: 1px solid #32cd32;
}

.main-header {
    margin-top: 30px;
}
/*--------------------------------------------Navbar*/
/*--------------------------------------------Homepage*/
.hero img {
    margin-top: 80px;
    margin-left: 150px;
    height: 350px;
    width: 350px;
}

.menu p {
    font-family: "roboto", sans-serif;
    color: white;
    font-size: 20px;
    margin-top: 60px;
    text-align: center;
    text-decoration: none;
}

.menuskill {
    background-color: #FF1493;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.menuwork {
    background-color: #32CD32;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.menucontact {
    background-color: #40CCFF;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
}
/*--------------------------------------------Homepage*/
/*--------------------------------------------Resume page*/
.downloadcv {
    width: 30%;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 35%;
    background-color: #32CD32;
    border-radius: 5px;
    
}

.downloadcv p {
   color: #f4f4f4;
   font-family: "roboto", sans-serif;
   text-transform: uppercase;
   letter-spacing:1px; 
   margin-left: 40px;
   margin-top: 15px;
}

.languages h1 {
    margin-left: 230px;
    margin-top: 70px;
}

.languagefirst {
    background-color: #FF1493;
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 40px;
    margin-left: 10%;
}

.languagesecond {
    background-color: #32CD32;
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 40px;
    margin-left: 10%;
}

.languagethird {  
    background-color: #40CCFF;
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 40px;
    margin-left: 10%;
}

.myeducation, .myexperience {
    margin: 40px;
    width: 80%;
}
/*--------------------------------------------Resume page*/
/*--------------------------------------------My Projects*/
.projectheader {
    margin-top: 120px;
}

.projecthero {
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 90px;
    height:300px;
    width: 500px;
}

.projectinfo {
    margin: 20px;
    text-align: center;
}

.projecth {
    font-family: "roboto", sans-serif;
    color: white;
    text-align: center;
    display: inline;
}

.myproject {
    margin-top: 10px;
    font-family: "exo", sans-serif;
    color:white;
    padding-top: 10px;
    font-size: 18px;
}

.project-text {
    text-align: justify;
    margin-bottom: 50px;
}

.resumebtn {
    margin-bottom: 20px;
}

.projectbtn {
    margin-bottom: 20px;
}

.cafebtn {
    margin-bottom: 20px;
}
/*--------------------------------------------My Projects*/
/*--------------------------------------------Contact page*/
.downloadcv {
  margin-left: 270px;
}

.contactheader {
    margin-top: 150px;
}
/*--------------------------------------------Contact page*/
/*--------------------------------------------Footer*/
.footer {
    width: 75%;
}
/*--------------------------------------------Footer*/
}

/** Extra small devices only **/
@media (max-width: 767px) {

.smallscreen {
    margin-top: 30%;
}
/*--------------------------------------------Navbar*/
.topnav {
  overflow: hidden;
  position: relative;
}

.topnav #menu {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  display: block;
}

.topnav a.icon {
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
}

.main-header {
    color:white;
    font-family: "roboto", sans-serif;
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 25px;
}

#myLinks li {
    display: block;
}

#myLinks a {
    text-decoration: none;
    font-size: 20px;
    color: #32cd32;
    font-family: "roboto", sans-serif;
}

#myLinks a:hover{
    border-bottom: 1px solid #32cd32;
}

.navbar-collapse {
   padding-left: 25px;
   padding-top: 0px; 
   margin-top: 17px;
   margin-bottom: 20px;
   background-color: white;
}
/*--------------------------------------------Navbar*/
/*--------------------------------------------Homepage*/
.hero img {
    margin-top: 40px;
    margin-left: 70px;
    height: 250px;
    width: 250px;
}

.menu p {
    font-family: "roboto", sans-serif;
    color: white;
    font-size: 15px;
    margin-top: 35px;
    text-align: center;
    text-decoration: none;
}

.menuskill {
    background-color: #FF1493;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-bottom: 20px;
}

.menuwork {
    background-color: #32CD32;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 120px;
    margin-bottom: 20px;
}

.menucontact {
    background-color: #40CCFF;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 120px;
    margin-bottom: 20px;
}

base {
    margin-top: 100px;
    font-family: "roboto", sans-serif;
    color:white;
    padding-top: 60px;
}

.aboutme {
    margin-top: 30px;
    font-family: "exo", sans-serif;
    color:white;
    padding-top: 10px;
    font-size: 16px;
}

.three-reasons-to-hire {
    padding-top: 30px;
    padding-bottom: 10px;
}
/*--------------------------------------------Homepage*/
/*--------------------------------------------Resume page*/
.downloadcv {
    width: 30%;
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: 35%;
    background-color: #32CD32;
    border-radius: 5px;
    
}

.downloadcv p {
   color: #f4f4f4;
   font-family: "roboto", sans-serif;
   text-transform: uppercase;
   letter-spacing:1px; 
   margin-left: 0;
   margin-top: 15px;
}

.languages h1 {
    margin-left: 130px;
    font-size: 30px;
}

.myexperience p {
    font-size: 16px;
}

.myeducation p {
    font-size: 16px;
}

.myeducation, .myexperience {
    margin: 20px;
    width: 90%;
}

.languagefirst {
    font-size: 16px;
    margin-left: 170px;
}

.languagesecond {
    font-size: 16px;
    margin-left: 170px;
}

.languagethird {  
    font-size: 16px;
    margin-left: 170px;
}
/*--------------------------------------------Resume page*/
/*--------------------------------------------My Projects*/
.projectheader {
    margin-top: 120px;
}

.projecthero {
    margin-right: 40px;
    margin-bottom: 10px; 
    height:200px;
    width: 370px;
}

.projectinfo {
    margin-top: 10px;
    margin-left: 70px; 
    text-align: center;
}

.projecth {
    font-family: "roboto", sans-serif;
    color: white;
    text-align: center;
    display: inline;
    margin-top: 0;
}

.myproject {
    margin-top: 10px;
    font-family: "exo", sans-serif;
    color:white;
    padding-top: 10px;
    font-size: 18px;
}

.project-text {
    text-align: justify;
    margin-bottom: 30px;
}

.resumebtn {
    margin-bottom: 20px;
    margin-left: 10px;
}

.projectbtn {
    margin-bottom: 20px;
    margin-left: 10px;
}

.cafebtn {
    margin-bottom: 20px;
    margin-left: 10px;
}
/*--------------------------------------------My Projects*/
/*--------------------------------------------Contact page*/
.contactpage {
	width:100%;
	font-family: "roboto", sans-serif;
}

.contactheader {
	font-family: "roboto", sans-serif;
	text-transform: uppercase;
    letter-spacing:1px;
    margin-top: 150px;
}

.contactp {
	font-size:18px;
    line-height:1.6em;
    margin-top: 30px;
}
    
.contactpage{
    color:#f4f4f4;
}

textarea.form-control{
    height:100px;
}

.contactfloat {
    margin-top: 20px;
    margin-left: 0;
	font-family: "roboto", sans-serif;
	text-transform: uppercase;
	letter-spacing:1px;
}

.submitbtn {
    margin-top: 20px;
    margin-bottom: 40px;
    color: #f4f4f4;
    background-color: #32CD32;
}

.downloadcv {
  margin-left: 135px;
}
/*--------------------------------------------Contact page*/
/*--------------------------------------------Footer*/
.footer {
    width: 80%;
}
/*--------------------------------------------Footer*/
}

@media only screen and (min-width: 320px) and (max-width: 568px) {

/*--------------------------------------------Homepage*/
.hero img {
    margin-top: 60px;
    margin-left: 25px;
    height: 250px;
    width: 250px;
}

.menu p {
    font-family: "roboto", sans-serif;
    color: white;
    font-size: 15px;
    margin-top: 50px;
    text-align: center;
    text-decoration: none;
}

.menuskill {
    background-color: #FF1493;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 80px;
}

.menuwork {
    background-color: #32CD32;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 80px;
    margin-top: 0;
}

.menucontact {
    background-color: #40CCFF;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 80px;
    margin-top: 0;
}

.aboutme {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "exo", sans-serif;
    color:white;
    padding-top: 10px;
    font-size: 16px;
}
/*--------------------------------------------Homepage*/
/*--------------------------------------------Resume page*/
.downloadcv {
    width: 40%;
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: 30%;
    background-color: #32CD32;
    border-radius: 5px;
    
}

.downloadcv p {
   color: #f4f4f4;
   font-family: "roboto", sans-serif;
   text-transform: uppercase;
   letter-spacing:1px; 
   margin-left: 0;
   margin-top: 15px;
}

.languages h1 {
    margin-left: 60px;
    font-size: 30px;
}

.myexperience p {
    font-size: 16px;
}

.myeducation p {
    font-size: 16px;
}

.myeducation, .myexperience {
    padding-left: 15px;
    margin-top: 40px;
    width: 90%;
}

.languagefirst {
    font-size: 16px;
    margin-left: 70px;
}

.languagesecond {
    font-size: 16px;
    margin-left: 70px;
}

.languagethird {  
    font-size: 16px;
    margin-left: 70px;
}
/*--------------------------------------------Resume page*/
/*--------------------------------------------My Projects*/
.projectheader {
    margin-top: 120px;
}

.projecthero {
    margin-left: 0;
    margin-bottom: 10px; 
    height:170px;
    width: 250px;
}

.projectinfo {
    margin-top: 10px;
    margin-left: 0; 
    margin-right: auto;
    text-align: center;
}

.projecth {
    font-family: "roboto", sans-serif;
    color: white;
    text-align: center;
    display: inline;
    margin-top: 0;
}

.myproject {
    margin-top: 10px;
    font-family: "exo", sans-serif;
    color:white;
    padding-top: 10px;
    font-size: 18px;
}

.project-text {
    text-align: justify;
    margin-bottom: 30px;
}

.resumebtn {
    margin-bottom: 20px;
    margin-left: 10px;
}

.projectbtn {
    margin-bottom: 20px;
    margin-left: 10px;
}

.cafebtn {
    margin-bottom: 20px;
    margin-left: 10px;
}
/*--------------------------------------------My Projects*/
/*--------------------------------------------Contact page*/

.contactheader {
	font-family: "roboto", sans-serif;
	text-transform: uppercase;
    letter-spacing:1px;
    margin-top: 130px;
}	
/*--------------------------------------------Contact page*/
/*--------------------------------------------Footer*/
.footer {
    width: 90%;
}
/*--------------------------------------------Footer*/
}



